*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.nav{
    display: flex;
    float: right;
    margin-right: 2rem;
    list-style-type: none;
    margin: 2rem;
    
}
.nav-link{


    color: white;

    font-weight: 900;
    font-size: 2rem;
    

    

}
.nav-links{
    display: flex;
    gap: 2rem;
    list-style-type: none;
    


}